@page
@model Automatic_Scheduling_App.Pages.Mgt_IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Management Portal</title>
</head>
   <body>
        <br>
        <br>
        <h1>Management Portal</h1>
        <ul>
            <br>
            <br>
            <li> <button onclick="location.href='/BusinessNeeds'">Manage Business Needs</button></li>
            <br>
            <li> <button onclick="location.href='/CreateUser'">Create User</button></li>
            <br>
            <li> <button onclick="location.href='/Emp_Index'">View Employees</button></li>

            <!--a href="BusinessNeeds.html">Manage Business Needs</!--a>
         </ul>
   </body>
 </html>
