@page
@model createUserModel
@{
    ViewData["Title"] = "Add Employee";
}
<h2>Add Employee</h2>
<form action="/NewEmployee" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="position">Position:</label>
    <input type="text" id="position" name="position" required>
    <br>
    <label for="street">Street:</label>
    <input type="text" id="street" name="street" required>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>
    <br>
    <label for="unit">Unit:</label>
    <input type="text" id="unit" name="unit">
    <br>
    <label for="state">State:</label>
    <input type="text" id="state" name="state" required>
    <br>
    <label for="zipcode">Zip Code:</label>
    <input type="number" id="zipcode" name="zipcode" required>
    <br>
    <label for="dept_id">Department ID:</label>
    <input type="number" id="dept_id" name="dept_id" required>
    <br>
    <input type="submit" value="Add Employee">
</form>