@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<br />

<div class="jumbotron privacy">
    <div class="image-container">
        <center>
            <img src="/privstar.svg" class="img-fluid" alt="..." style="width: 50px; height: auto;">
        </center>
    </div>
    <h1><b>Privacy Policy</b></h1>
</div>



<p id="privacyP">
    The Auto-Scheduler system (<b>AUTOSCHED</b>) generates employee schedules quickly and efficiently.<br />
    It eliminates the need for complex reflections to ensure parity of assignments<br />
    and prevents omittance. It considers the user’s availability preferences <br />
    along with configured business requirements to render the desired schedules.<br />
    Each employee is assigned a position within a unique department <br />
    which allows the system to generate the schedules for each department <br />
    with their own set of preferences and weekly schedules configuration.
</p>


