@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    /* Center the text */
    p {
        color: white; /* Set text color to blue */
        font-size: 20px; /* Set font size to 18 pixels */
        font-family: "Century Schoolbook"
        font-weight: bold; /* Set font weight to bold */
        text-align: center; /* Center the text */
        line-height: 1.5; /* Set line height to 1.5 times the font size */
        padding: 20px; /* Add padding around the paragraph */
        background-color:darkturquoise; /* Set background color to light gray */
        border: 2px solid black; /* Add a border */
        border-radius: 10px; /* Add border radius */
        box-shadow: 2px 2px 5px gray; /* Add a shadow */
    }

    h1 {
        color:black;
        text-align: center; /* Center the text */
        /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    }

</style>

<br />
<br />

<div class="jumbotron">
    <div class="image-container">
        <center>
            <img src="/privstar.svg" class="img-fluid" alt="..." style="width: 50px; height: auto;">
        </center>
    </div>
    <h1><b>Privacy Policy</b></h1>
</div>



<p>
    The Auto-Scheduler system (<b>AUTOSCHED</b>) generates employee schedules quickly and efficiently.<br />
    It eliminates the need for complex reflections to ensure parity of assignments<br />
    and prevents omittance. It considers the user’s availability preferences <br />
    along with configured business requirements to render the desired schedules.<br />
    Each employee is assigned a position within a unique department <br />
    which allows the system to generate the schedules for each department <br />
    with their own set of preferences and weekly schedules configuration.
</p>


